:root {
  --bg-color-primario: #f8f9fa;
  --bg-color-secundario: #1bb77f;
  --text-color-secundairo: #54cd60;
  --text-color-primario: #1f3841;
  --text-color-primario-clario: #c2c2c2;
}

/* tools  */

.opacity {
  transition: all 0.2s ease-in-out;
}
.opacity:hover {
  opacity: 0.7;
}
.opacity:focus {
  outline: none;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: var(--text-color-primario);
}
header {
  height: 85px;
  width: 100%;
  display: flex;
  /* display: none; */
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  background: var(--bg-color-primario);
  border-radius: 0px 0px 8px 8px;
}

.header__logo {
  height: 75px;
}
.header__logo-container {
  font-family: "Pangolin", cursive;
}
.header__logo-container a {
  text-decoration: none;
  color: var(--text-color-primario);
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.nav--desktop {
  display: none;
}
.nav--mobile {
  display: flex;
  height: inherit;
  align-content: center;
  align-items: center;
}
.nav--mobile i {
  font-size: 32px;
  padding: 20px;
}
.nav--mobile__sider {
  position: absolute;
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  top: 0;
  right: -200px;
  z-index: 6;
  background: var(--text-color-primario);
  height: 100vh;
  width: 200px;
  text-align: center;
  color: var(--text-color-primario-clario);
  border-radius: 15px 0 0 15px;
  transition: all 0.4s ease-in-out;
  padding-top: 15px;
  padding-bottom: 100px;
}
#li-btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#li-btn-cart i {
  font-size: 40px;
}

#li-btn-cart span {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: serif;
  align-items: center;
  width: 40px;
  height: 40px;
  padding-left: 5px;
  padding-bottom: 6px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  color: var(--bg-color-secundario);
  position: absolute;
}

.translateX-efect {
  transform: translateX(-200px);
}

#pantalla-loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-attachment: fixed;
}
.loading__img {
  height: 200px;
  filter: drop-shadow(2px 2px 4px rgb(133, 133, 133));
}

/* ================================================================
======================Pantalla HOME=============================
================================================================ */

#pantalla-home {
  background: white;
  padding-top: 85px; /* el tamaño del header */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  /* display: none; */
  flex-flow: wrap row;
  justify-content: center;
  align-content: center;
}
.pantalla-home__destacado-container::before {
  content: "";
  background: url(https://gocarnavalrio.com/wp-content/uploads/2019/02/oferta-especial-png-3.png)
    center center no-repeat;
  width: 100px;
  height: 100px;
  background-size: contain;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  top: -50px;
  left: 60px;
  transform: rotateZ(-20deg);
  z-index: 2;
  filter: drop-shadow(2px 2px 5px var(--text-color-primario));
}

.pantalla-home__destacado-container {
  position: relative;
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  text-align: center;
}
.pantalla-home__destacado-container__img-container {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  overflow-x: hidden;
  border-radius: 5px;
}
#destacado-image {
  height: 100%;
}
#destacado-title {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 0;
}
#destacado-price {
  color: var(--text-color-secundairo);
  font-weight: bold;
  font-size: 26px;
}
#destacado-price::before {
  content: "$";
}

#destacado-btn {
  background: var(--bg-color-secundario);
  color: var(--bg-color-primario);
  padding: 10px;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 16px;
}
#destacado-description {
  width: 70%;
  height: 50px;
  /* white-space: nowrap; */
  overflow-y: auto;
  text-overflow: ellipsis;
}
.pantalla-home__categorias-container::before {
  content: "Categorías";
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100%;
  color: var(--text-color-primario-clario);
}

.pantalla-home__categorias-container {
  /* background: chartreuse; */
  margin-bottom: 10px;
  width: 90%;
  overflow-x: scroll;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
.pantalla-home__categoria-container {
  flex-basis: 22%;
  height: 75px;
  overflow-x: hidden;
  margin: 3px;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--text-color-primario);
}
.categoría__img {
  width: 100%;
}
.categoría__titulo {
  color: var(--text-color-secundairo);
  font-size: 12px;
  text-align: center;
}

/* ================================================================
======================Pantalla Categorías==========================
================================================================ */
#pantalla-categorias {
  background: white;
  padding-top: 20px; /* el tamaño del header */
  height: 85vh;
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}
.pantalla-categoria__titulo {
  width: 100%;
  text-align: center;
  color: var(--text-color-primario-clario);
  text-transform: capitalize;
}
.btn-ampliar {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 5px;
  opacity: 0.5;
}
.pantalla-categoria__categoria-container {
  position: relative;
  width: 45%;
  height: 250px;
  margin: 20px 2px;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px var(--text-color-primario);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* border-left: solid var(--text-color-secundairo) 4px; */
}
.pantalla-categoria__img-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 5px 0;
  padding: 5px;
}
.pantalla-categoria__img {
  width: 85%;
  height: 100%;
}
.pantalla-categoria__productname {
  margin: 0 auto;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 0;
  font-size: 16px;
}
.pantalla-categoria__button {
  background: var(--bg-color-secundario);
  color: var(--bg-color-primario);
  padding: 10px;
  border: none;
  width: 120px;
  height: 35px;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 5px 0;
}
.pantalla-categoria__productprice {
  color: var(--text-color-secundairo);
  font-weight: bold;
  font-size: 20px;
}
.pantalla-categoria__productprice::before {
  content: "$";
}

/* ================================================================
======================Pantalla Carrito=============================
================================================================ */
#pantalla-carrito {
  margin: 0;
  padding-top: 20px;
  position: absolute;
  top: 100vh;
  background: white;
  z-index: 6;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.translateY-efect {
  transform: translateY(-100vh);
}
.pantalla-carrito__header {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  color: var(--text-color-primario-clario);
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.pantalla-carrito__header i {
  font-size: 20px;
}

.pantalla-carrito__body {
  margin: 0px auto;
  height: 475px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0px 20px;
  overflow: scroll;
}
.body__item-container {
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: center;
}
.item-container__title {
  font-size: 16px;
  width: 140px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-container__price {
  width: 90px;
  font-size: 18px;
  color: var(--text-color-secundairo);
  text-align: right;
}
.item-container__price::before {
  content: "$";
}
.item-container__img-container {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--text-color-primario-clario);
  overflow: hidden;
}
.item-container__img {
  width: 100%;
}

.pantalla-carrito__footer {
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  background: var(--bg-color-primario);
  border-radius: 20px 20px 0 0;
  box-shadow: -1px -1px 2px var(--text-color-primario-clario);
}
.footer__total {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-title {
  font-weight: lighter;
}
.footer-price {
  color: var(--text-color-secundairo);
  font-size: 24px;
}
.footer-price::before {
  content: "$";
}
.footer-btn {
  background: var(--bg-color-secundario);
  color: var(--bg-color-primario);
  padding: 10px;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  text-transform: uppercase;
  /* margin: 10px 0px; */
}
/* ================================================================
======================Pantalla Detail=============================
================================================================ */

#pantalla-product-detail {
  display: none;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: absolute;
  top: -100vh;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 95vh;
  width: 95%;
  background: var(--bg-color-primario);
  z-index: 9;
  border-bottom: solid var(--text-color-secundairo) 10px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px var(--text-color-primario);
}
.translateY-efect-down {
  transform: translateY(100vh);
}
#btn-detail {
  text-align: right;
  padding-right: 20px;
  width: 100%;
  color: var(--text-color-primario-clario);
  font-size: 50px;
}
.pantalla-product-detail__container {
  position: relative;
  margin-top: 20px;
  height: 80%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  text-align: center;
}
.pantalla-product-detail__container__img-container {
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  overflow-x: hidden;
  border-radius: 5px;
}
#detail-image {
  height: 100%;
}
#detail-title {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 0;
}
#detail-price {
  color: var(--text-color-secundairo);
  font-weight: bold;
  font-size: 26px;
}
#detail-price::before {
  content: "$";
}

#detail-btn {
  background: var(--bg-color-secundario);
  color: var(--bg-color-primario);
  padding: 10px;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 16px;
}
#detail-description {
  margin-top: 10px;
  width: 70%;
  height: 140px;
  font-size: 14px;
  text-align: justify;
  overflow-y: auto;
}
@media screen and (min-width: 1024px) {
  .nav--desktop {
    display: block;
  }
  body {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  header {
    border-bottom: solid var(--text-color-primario) 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--text-color-primario-clario);
  }
  .header__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100%;
  }
  .header__list li {
    padding: 5px;
    width: 100px;
  }

  .header__list li:nth-child(3) {
    position: relative;
  }

  .header__list li:nth-child(3):hover .sub-nav {
    display: block;
    position: absolute;
    top: 100%;
    background: var(--text-color-primario);
    border-radius: 7px;
  }
  .sub-nav {
    display: none;
    list-style: none;
    padding: 4px 0;
    color: var(--bg-color-primario);
  }
  .sub-nav li {
    margin: 10px 0;
  }

  .nav--mobile {
    display: none;
  }
  /* ================================================================
======================Pantalla HOME=============================
================================================================ */

  #pantalla-home {
    width: 90vw;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-around;
    align-items: flex-end;
  }
  .pantalla-home__destacado-container::before {
    top: -50px;
    left: 180px;
  }

  .pantalla-home__destacado-container {
    margin-top: 10px;
    width: 70%;
    height: 80%;
    flex-flow: column nowrap;
    order: 1;
  }
  .pantalla-home__destacado-container__img-container {
    height: 250px;
    width: 250px;
    border-radius: 20px;
  }

  .pantalla-home__categorias-container::before {
    content: "Categorías";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
    color: var(--text-color-primario-clario);
  }

  .pantalla-home__categorias-container {
    /* background: chartreuse; */
    overflow-x: hidden;
    width: 25%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .pantalla-home__categoria-container {
    overflow-x: auto;
    flex-basis: 33%;
    height: 130px;
    margin: 3px;
  }
  .categoría__img {
    width: 100%;
  }
  .categoría__titulo {
    color: var(--text-color-secundairo);
    font-size: 12px;
    text-align: center;
  }
}
